@use "sass:color";

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import "~@fontsource/roboto";

:root {
  $primary-color: #ff33cc;
  $secondary-color: #ff9966;
  $grey-color: #999966;
  $accent-color: #bbff00;
  $danger-color: #ff0000;

  --primary-color: #{$primary-color};
  --primary-light-color: #{color.adjust($primary-color, $lightness: 24%)};
  --primary-content-color: #{color.adjust($primary-color, $lightness: -36%)};

  --secondary-color: #{$secondary-color};
  --secondary-light-color: #{color.adjust($secondary-color, $lightness: 12%)};
  --secondary-content-color: #{color.adjust($secondary-color, $lightness: -36%)};

  --accent-color: #{$accent-color};
  --accent-content-color: #{color.adjust($accent-color, $lightness: -36%)};
  --accent-light-color: #{color.adjust($accent-color, $lightness: 24%)};

  --neutral-color: #{$grey-color};
  --neutral-light-color: #{color.adjust($grey-color, $lightness: 44%)};
  --neutral-content-color: #{color.adjust($grey-color, $lightness: -36%)};

  --danger-color: #{$danger-color};
  --danger-light-color: #{color.adjust($danger-color, $lightness: 14%)};
  --danger-content-color: #{color.adjust($danger-color, $lightness: -40%)};
}


/* Additional Styles for the Filter Component */
.filter-container {
  display: flex;
  // justify-content: space-between; /* Push content to the left and right */
  flex-direction: column; 
  gap: 0.5rem;
}

.filter-option {
  display: flex;
  align-items: center;
  font-size: 1rem; 
}

.filter-option input[type="checkbox"] {
  margin-right: 0.5rem; /* Add space between checkbox and label */
}

.dropdown-toggle {
  background: var(--primary-color);
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  border-radius: 4px;
}

.dropdown-toggle:hover {
  background: var(--primary-color);
}